body{
    font-family: raleway;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1280px;
    margin: 0;
}
header{
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.container{
    width: 93.75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.top{
    position: fixed;
    width: 100%;
    max-width: 1200px;
    height: 70px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

}
.logo{
    width: 90px;
}
.navigation{
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 14px;
}
.location-housing,
.location-activities{
    display: flex;
    width: 60%;
    height: 100%;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 1s;
}
.location-activities:hover,
.location-housing:hover{
    background-color: #0065FC;
}
#link{
    width: 100%;
    height: 97%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}
.register{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sign-up{
    color: #0065FC;
    font-weight: 600;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
.recherche{
    margin-top: 70px;
}
.searchbar{
    border: 1px solid;
    border-color: #f2f2f2;
    border-radius: 10px;
    width: 30%;
    height: 50px;
    display: flex;
}
.section-gauche{
    width: 25%;
    background-color: #f2f2f2;
    border-radius: 8px 0 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-milieu{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.search{
    width: 100%;
    height: 40px;
    border: 0;
}
::placeholder {
    opacity: 1;
}
input{
    font-family: raleway;
    font-size: 1em;
    font-weight: 700;
    outline: none;
    padding-left: 10px;
}
.section-droite{
    width: 70%;
    background-color: #0065FC;
    border-radius: 0 10px 10px 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border: 0;
}
.section-droite p{
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 14px;
}
.filter{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-top: 30px;
}
.title-filter{
    font-weight: bold;
    width: 10%;
}
#box-filter{
    border: 2px solid;
    border-color: #e6e6e6;
    border-radius: 60px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    transition: border-color 1s;
    cursor: pointer;
}
#box-filter:hover{
    border-color: #0065FC;
}
.economic{
    width: 110px;
    display: flex;
    justify-content: center;
}
.fa-heart,
.fa-child,
.fa-money-bill-wave,
.fa-dog,
.fa-info{
    color: #0065FC;
}
.familial{
    width: 90px;
    display: flex;
    justify-content: center;
}
.romantic{
    width: 110px;
    display: flex;
    justify-content: center;
}
.animals{
    width: 160px;
    display: flex;
    justify-content: center;
}
#box-filter p{
    margin: 0;
}
#box-logo{
    background-color: #DEEBFF;
    border: solid 2px #DEEBFF;
    width: 40px;
    height: 100%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -2px;
}
#box-filter:hover{
    border-color: #0065FC;
}
.filter-option{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#box-logo img{
    width: 15px;
}
.options{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.informations{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 38%;
    height: 25px;
    margin-top: 20px;
}
.i{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: 1px solid;
    border-color: #F2F2F2;
}
#housing{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.housing-marseille{
    width: 65%;
    background-color: #F2F2F2;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.box-housing{
    width: 90%;
}
.housing-title{
    font-weight: bold;
    margin-top: 30px;
    font-size: 19px;
}
.housing-title p{
    margin: 0;
}
.logements{
    width: 100%;
    max-width: 730px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.choice{
    width: 100%;
    height: 170px;
    max-width: 220px;
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 2px 5px 15px 5px rgba(0,0,0,0.07);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform .5s;
}
.choice:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.choice img{
    width: 100%;
    max-width: 210px;
    height: auto;
    max-height: 100px;
    border-radius: 18px 18px 0 0;
    margin-top: 5px;
    object-fit: cover;
}
.about-choice{
    width: 100%;
    max-width: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 5px;
}
.about-choice h5{
    font-size: 13px;
}
.about-choice p,
.about-choice h5{
    margin: 0;
}
.rate{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}
.star[data-active=true]{
    color: #0065FC;
}
.star[data-active=false]{
    color: #F2F2F2;
}
.plus{
    font-weight: 600;
    margin-top: 30px;
}
.popular{
    width: 100%;
    max-width: 380px;
    max-height: 540px;
    height: 620px;
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-popular{
    max-width: 320px;
}
.header-title{
    max-width: 320px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 10px;
}
.popular-title{
    max-width: 200px;
    display: flex;
    align-items: center;

}
.popular-title p{
    font-weight: bold;
    font-size: 19px; 
}
.share{
    max-width: 30px;
    display: flex;
    align-items: center;
}
.share:hover{
    cursor: pointer;
}
.share img{
    width: 22px;
}
.choice-pop{
    width: 300px;
    height: 120px;
    max-width: 300px;
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 2px 5px 15px 5px rgba(0,0,0,0.07);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform .5s;
}
.choice-pop:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.choice-pop img{
    width: 100%;
    max-width: 120px;
    height: 100%;
    max-height: 110px;
    border-radius: 15px 0 0 15px;
    margin-left: 5px;
    object-fit: cover;
}
.about-pop-choice{
    width: 100%;
    max-width: 160px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.about-pop-choice img{
    width: 12px;
    margin: 0;
}
.about-pop-choice h5{
    font-size: 13px;
    margin: 0;
}
.about-pop-choice p{
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 12px;
}
#activities{
    margin-top: 40px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.activities-title{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: flex-start;
}
.activities-title p{
    font-weight: bold;
    font-size: 19px; 
}
.box-activities{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#boxes{
    width: 270px;
    height: 400px;
}
.act-1,
.act-2,
.act-3,
.act-4,
.act-5,
.act-6{
    width: 270px;
    border-radius: 20px;
    box-shadow: 2px 5px 15px 5px rgba(0,0,0,0.10);
    transition: transform .5s;
}
.act-1:hover,
.act-2:hover,
.act-3:hover,
.act-4:hover,
.act-5:hover,
.act-6:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.act-1,
.act-4{
    height: 400px;
}
.act-2{;
    height: 210px;
}
.act-6{
    height: 180px;
}
.act-3{
    height: 150px;
}
.act-5{
    height: 180px;
}
.box-2,
.box-4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.act-img{
    width: 100%;
    max-width: 270px;
    border-radius: 18px 18px 0 0;
    object-fit: cover;
}
.act-1 .act-img,
.act-4 .act-img{
    height: 100%;
    max-height: 350px;
}
.act-2 .act-img{
    height: 100%;
    max-height: 160px;
}
.act-6 .act-img{
    height: 100%;
    max-height: 130px;
}
.act-3 .act-img{
    height: 100%;
    max-height: 100px;
}
.act-5 .act-img{
    height: 100%;
    max-height: 130px;
}
.act-name{
    display: flex;
    align-items: center;
    margin-left: 10px;
    height: 100%;
    max-height: 40px;
}
footer{
    width: 100%;
    background-color: #f2f2f2;
    margin-top: 30px;
    padding-bottom: 20px;
}
.foot-container{
    margin-left: 40px;
    width: 75%;
    height: 180px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.apropos,
.housing-foot,
.assistance{
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 150px;

}
.apropos h4,
.housing-foot h4,
.assistance h4{
    margin: 0;
    margin: 10px 0;
}
.apropos a,
.housing-foot a,
.assistance a{
    color: black;
    margin: 10px 0;
}
@media screen and (max-width: 480px){
    body{
        max-width: 375px;
    }
    header,
    main,
    footer{
        max-width: 375px;
    }
    .container,
    .navigation{
        width: 100%;
    }
    .top{
        position: relative;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    .title{
        width: 350px;
    }
    .title h3{
        font-size: 23px;
        margin: 0;
    }
    .title p{
        margin-top: 10px;
        font-size: 17px;
    }
    .recherche{
        width: 100%;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .searchbar{
        width: auto;
    }
    .filter{
        flex-wrap: wrap;
        width: 340px;
        align-items: center;
    }
    .options{
        flex-wrap: wrap;
        width: 100%;
    }
    #box-filter{
        margin: 5px;
    }
    .informations{
        width: 100%;
        justify-content: space-around;
    }
    .informations p{
        width: 330px;
    }
    #housing{
        flex-direction: column-reverse;
    }
    .box-activities{
        flex-direction: column;
    }
    .box-activities:hover{
        transform: none;
    }
}