body{
    font-family: raleway;
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    width: 100%;
    height: 400px;
}
.container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    max-width: 100px;
}
.navigation{
    display: flex;
    max-width: 400px;
    justify-content: space-around;
}
.location{
    padding-left: 40px;
}
.searchbar{
    border: 1px solid;
    border-color: #f2f2f2;
    border-radius: 10px;
    width: 410px;
    height: 50px;
    display: flex;
}
.section-gauche{
    width: 100%;
    max-width: 50px;
    background-color: #f2f2f2;
    border-radius: 8px 0 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pointer{
    width: 20px;
}
.section-milieu{
    width: 100%;
    max-width: 230px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.search{
    width: 100%;
    max-width: 230px;
    height: 100%;
    max-height: 40px;
    max-height: px;
    border: 0;
}
::placeholder {
    color: black;
    font-size: 1.5em;
    font-weight: 500;
}
.section-droite{
    width: 100%;
    max-width: 130px;
    background-color: #3333ff;
    border-radius: 0 10px 10px 0;
    display: flex;
    justify-content: center;
}
.section-droite p{
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.filter{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 880px;
    margin-top: 30px;
}
.title-filter{
    font-weight: bold;
    width: 100%;
    max-width: 55px;
}
#box-filter{
    border: 2px solid;
    border-color: #e6e6e6;
    border-radius: 50px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
.economic{
    width: 160px;
}
.familial{
    width: 130px;
}
.romantic{
    width: 150px;
}
.animals{
    width: 205px;
}
#box-filter p{
    margin: 0;
}
#box-logo{
    background-color: #cce0ff;
    width: 100%;
    max-width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;

}
.filter-option{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center
}
#box-logo img{
    width: 15px;
}
.options{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 780px;
}
.informations{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 450px;
    height: 25px;
    margin-top: 20px;
}
.i{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: 1px solid;
}
.i img{
    width: 5px;

}
.housing{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.housing-marseille{
    width: 100%;
    max-width: 780px;
    max-height: 540px;
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.box-housing{
    max-width: 710px;
}
.housing-title{
    font-weight: bold;
    margin-top: 30px;
    font-size: 19px;
}
.housing-title p{
    margin: 0;
}
.logements{
    width: 100%;
    max-width: 730px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.choice{
    width: 220px;
    height: 170px;
    max-width: 240px;
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 2px 5px 15px 5px rgba(0,0,0,0.07)
}
.plus{
    font-weight: 600;
    margin-top: 30px;
}
.popular{
    width: 100%;
    max-width: 380px;
    max-height: 540px;
    height: 620px;
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.box-popular{
    max-width: 320px;
}
.header-title{
    max-width: 320px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 10px;
}
.popular-title{
    max-width: 200px;
    display: flex;
    align-items: center;

}
.popular-title p{
    font-weight: bold;
    font-size: 19px; 
}
.share{
    max-width: 30px;
    display: flex;
    align-items: center;
}
.share img{
    width: 22px;
}
.choice-pop{
    width: 300px;
    height: 120px;
    max-width: 300px;
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 2px 5px 15px 5px rgba(0,0,0,0.07);
}
.activities{
    margin-top: 50px;
    margin-bottom: 20px;
}
.activities-title p{
    font-weight: bold;
    font-size: 19px; 
}
.box-activities{
    display: flex;
    justify-content: space-between;
}
#boxes{
    width: 270px;
    height: 400px;
    background-color: white;
}
.act-1,
.act-4{
    width: 270px;
    height: 400px;
    border-radius: 20px;
    background-color: blue;
}
.act-2{
    width: 270px;
    height: 210px;
    border-radius: 20px;
    background-color: blue;
}
.act-6{
    width: 270px;
    height: 180px;
    background-color: blue;
    border-radius: 20px;
}
.act-3{
    width: 270px;
    height: 150px;
    background-color: blue;
    border-radius: 20px;
}
.act-5{
    width: 270px;
    height: 180px;
    background-color: blue;
    border-radius: 20px;
}
.box-2,
.box-4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.foot-container{
    width: 1280px;
    max-width: 1280px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    background-color: #f2f2f2;
    margin-top: 30px;
}